/*Variaveis de cores para aplicação no CSS */
/*Dentro do mundo do Design Digital pode se classificar a intensidade das cores*/
/*100 (Tonalidade mais clara) e 900 (Tonalidade mais escura)*/

:root {
  --green-700: #33691e; /*Aplicação Geral: MENU e Botões*/
  --green-400: #4caf50; /*Aplicação Geral: CARDS, Bordas ou Sessões*/
  --yellow-100: #f8f8d5; /*Aplicação Geral: Fundo de Páginas e Sessões *textos em fundo escuro*/
  --grayblue-200: #90a4ae; /*Aplicação Geral: Elementos Secundários e/ou Footer (Rodapé)*/
  --graydark-900: #212121; /*Aplicação Geral: Textos e Ícones em fundos claros*/
  --darkbrow-900: #6d4c41; /*ALTERNATIVA: Textos e Ícones em fundos claros*/
  font-family: "Montserrat", sans-serif; /*Fonte Padrão da Aplicação*/
}

/* Usar os pesos 200 (Para Contéudo), 400 (Destaque no contéudo) e 500/600 (Títulos ou subtítulos) */

/* Como usar as variaveis de cores no CSS */
/* background-color: var(--green-700); */
/* color: var(--graydark-900); */

/*------------ ESTILIZAÇÃO DA FUNCIONALIDADE ------------*/
body {
  margin: 0;
  padding: 0;
  background-color: var(--yellow-100);
  box-sizing: border-box;
  color: var(--graydark-900);
  font-family: "Montserrat", sans-serif;
}
h3 {
  color: #093070;
  border-bottom: 1px solid #c1c1c1;
}
h4 {
  color: #c54b1e;
}

.banner img {
  width: 100%;
}

.barra-info {
  height: 5em;
  background-color: var(--green-700);
  display: flex;
  justify-content: space-between;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline;
  margin: 0px;
  padding: 0.5em 1em;
  height: 2em;
  line-height: 2em;
}

.menu li a {
  text-decoration: none;
  color: #fffdfc;
  font-weight: bold;
}

.menu li:hover {
  background-color: darkblue;
  color: white;
}

.dados-usuario {
  height: 2em;
  line-height: 2em;
  margin-right: 20px;
}

main {
  padding: 20px;
}

/*Rodapé*/

#contato {
  background-color: var(--green-700) !important;
  color: #fff;
}

.info-icon {
  width: 20px;
  text-align: center;
  margin-right: 8px;
  color: #555;
}

.social-icon {
  font-size: 1.8rem;
  color: #333;
  margin-right: 15px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #007bff;
}

/*        MAPA       */
   #map { position: absolute; top: 0; bottom: 0; width: 100%; }
   /* #map {
      width: 100%;
      height: 500px;
      border-radius: 10px;
      margin-bottom: 20px;
    } */

    .lista-pontos {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
      gap: 15px;
    }

    .card {
      background-color: var(--yellow-100);
      border: 2px solid var(--green-400);
      border-radius: 10px;
      padding: 15px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }

    .card h4 {
      color: var(--green-700);
      margin-bottom: 8px;
    }
 
/*     FIM MAPA     */