/*Variaveis de cores para aplicação no CSS */
/*Dentro do mundo do Design Digital pode se classificar a intensidade das cores*/
/*100 (Tonalidade mais clara) e 900 (Tonalidade mais escura)*/

:root {
  --green-700: #33691e; /*Aplicação Geral: MENU e Botões*/
  --green-400: #4caf50; /*Aplicação Geral: CARDS, Bordas ou Sessões*/
  --yellow-100: #f8f8d5; /*Aplicação Geral: Fundo de Páginas e Sessões *textos em fundo escuro*/
  --grayblue-200: #90a4ae; /*Aplicação Geral: Elementos Secundários e/ou Footer (Rodapé)*/
  --graydark-900: #212121; /*Aplicação Geral: Textos e Ícones em fundos claros*/
  --darkbrow-900: #6d4c41; /*ALTERNATIVA: Textos e Ícones em fundos claros*/
  font-family: "Montserrat", sans-serif; /*Fonte Padrão da Aplicação*/
}

/* Usar os pesos 200 (Para Contéudo), 400 (Destaque no contéudo) e 500/600 (Títulos ou subtítulos) */

/* Como usar as variaveis de cores no CSS */
/* background-color: var(--green-700); */
/* color: var(--graydark-900); */

/*------------ ESTILIZAÇÃO DA FUNCIONALIDADE ------------*/
