/*        MAPA       */
   #map {
      width: 100%;
      height: 500px;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .lista-pontos {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
      gap: 15px;
    }

    .card {
      background-color: var(--yellow-100);
      border: 2px solid var(--green-400);
      border-radius: 10px;
      padding: 15px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }

    .card h4 {
      color: var(--green-700);
      margin-bottom: 8px;
    }
 
/*     FIM MAPA     */